.auth-page {
  position: relative;
  @apply w-screen h-screen;

  .form-container {
    position: absolute;
    width: 100%;
    max-width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @apply bg-gray-100 p-6 rounded-md shadow-md;
    .msg-error {
      @apply text-red-500 text-xs;
    }
  }
}
